{% extends "website/base.html" %}
{% load static %}

{% block corpo %}
    <div class="row">
        <div class="col-6">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae
                iaculis nisl. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Posuere libero varius. Nullam
                a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Em pé sem cair, deitado sem dormir, sentado sem cochilar e
                fazendo pose.
            </p>
        </div>

        <div class="col-6">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Viva Forevis aptent taciti
                sociosqu ad litora torquent. Casamentiss faiz malandris se pirulitá. Detraxit consequat et quo num tendi nada.
            </p>
        </div>
    </div>
    

    <div class="row">
        <div class="col-4">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae
                iaculis nisl. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Posuere libero varius. Nullam
                a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Em pé sem cair, deitado sem dormir, sentado sem cochilar e
                fazendo pose.
            </p>
        </div>

        <div class="col-4 text-center" >
            <img class="rounded img-fluid " src="{% static 'img/logo.png' %}" style=" width: 80% ;" alt="Estacionamento SA">
        </div>

        <div class="col-4">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Viva Forevis aptent taciti
                sociosqu ad litora torquent. Casamentiss faiz malandris se pirulitá. Detraxit consequat et quo num tendi nada.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae
                iaculis nisl. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Posuere libero varius. Nullam
                a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Em pé sem cair, deitado sem dormir, sentado sem cochilar e
                fazendo pose.
            </p>
        </div>

        <div class="col-6">
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Interagi no mé, cursus quis, vehicula ac nisi. Viva Forevis aptent taciti
                sociosqu ad litora torquent. Casamentiss faiz malandris se pirulitá. Detraxit consequat et quo num tendi nada.
            </p>
        </div>
    </div>
           

{% endblock  %} 