{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col-sm-6">
        <h2>Cadastro de movimentos rotativos </h2>
        <form action="{% url 'core_movimento_rotativo_novo' %}" method="POST">
        {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <h2>Lista de movimentos rotativos </h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Checkin</th>
                    <th scope="col">Checkout</th>
                    <th scope="col">Valor/hora</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for rotativo in rotativos  %}
                <tr>
                    <th scope="row">{{rotativo.id}}</th>
                    <td>{{rotativo.checkin}}</td>
                    <td>{{rotativo.checkout}}</td>
                    <td> {{rotativo.valor_hora}}</td>
                    <td> <a href="{% url 'core_movimento_rotativo_update' rotativo.id %}" > {{rotativo.veiculo}}  </a> </td>
                    <td>{{rotativo.pago}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
</div>
        
    
{% endblock  %}

