{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>Document</title>
</head>
<body>
        
    <div class="container">
        {% block menu %}
        
       
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{menu_home_ativo}}" href="{% url 'core_home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{menu_cadastro_ativo}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {{menu_pessoa_ativo}}"  href="{% url 'core_lista_pessoas' %}">Pessoas</a>
                        <a class="dropdown-item {{menu_veiculo_ativo}}" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item {{menu_movimento_rotativo_ativo}}" href="{% url 'core_lista_movimentos_rotativos' %}">Movimentos Rotativos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item {{menu_mensalista_ativo}}" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a>
                        <a class="dropdown-item {{menu_movimento_mensalista_ativo}}" href="{% url 'core_lista_movimentos_mensalistas' %}">Movimentos Mensalistas</a>
                    </div>
                </li>

                {% if user.is_authenticated  %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Ola {{user}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'logout' %}">Logout</a>
                </li>
    
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'login' %}">Login</a>
                </li>
    
                {% endif %}

            </ul>
        {% endblock %}

        {% block main %}
        
        {% endblock  %}
    </div>

    

</body>
</html>